@page
@model RpIten.Pages.Recs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rec</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rec.SeiriNo" class="control-label"></label>
                <input asp-for="Rec.SeiriNo" class="form-control" />
                <span asp-validation-for="Rec.SeiriNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.RosenNo" class="control-label"></label>
                <input asp-for="Rec.RosenNo" class="form-control" />
                <span asp-validation-for="Rec.RosenNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.TateNo" class="control-label"></label>
                <input asp-for="Rec.TateNo" class="form-control" />
                <span asp-validation-for="Rec.TateNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.ShiTateNo" class="control-label"></label>
                <input asp-for="Rec.ShiTateNo" class="form-control" />
                <span asp-validation-for="Rec.ShiTateNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.Youto" class="control-label"></label>
                <input asp-for="Rec.Youto" class="form-control" />
                <span asp-validation-for="Rec.Youto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.Men" class="control-label"></label>
                <input asp-for="Rec.Men" class="form-control" />
                <span asp-validation-for="Rec.Men" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.Koho" class="control-label"></label>
                <input asp-for="Rec.Koho" class="form-control" />
                <span asp-validation-for="Rec.Koho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.JigyoGaku" class="control-label"></label>
                <input asp-for="Rec.JigyoGaku" class="form-control" />
                <span asp-validation-for="Rec.JigyoGaku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.Shimei" class="control-label"></label>
                <input asp-for="Rec.Shimei" class="form-control" />
                <span asp-validation-for="Rec.Shimei" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.Detail" class="control-label"></label>
                <input asp-for="Rec.Detail" class="form-control" />
                <span asp-validation-for="Rec.Detail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.KanendoSum" class="control-label"></label>
                <input asp-for="Rec.KanendoSum" class="form-control" />
                <span asp-validation-for="Rec.KanendoSum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.ChosaGaku" class="control-label"></label>
                <input asp-for="Rec.ChosaGaku" class="form-control" />
                <span asp-validation-for="Rec.ChosaGaku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rec.Note" class="control-label"></label>
                <input asp-for="Rec.Note" class="form-control" />
                <span asp-validation-for="Rec.Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
