@page
@model RpIten.Pages.Recs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rec</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.SeiriNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.SeiriNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.RosenNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.RosenNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.TateNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.TateNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.ShiTateNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.ShiTateNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.Youto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.Youto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.Men)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.Men)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.Koho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.Koho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.JigyoGaku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.JigyoGaku)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.Shimei)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.Shimei)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.Detail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.Detail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.KanendoSum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.KanendoSum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.ChosaGaku)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.ChosaGaku)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rec.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rec.Note)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rec.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
