@page
@model RpIten.Pages.Recs.IndexModel

@{
    ViewData["Title"] = "建物移転費";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].SeiriNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].RosenNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].TateNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].ShiTateNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].Youto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].Men)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].Koho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].JigyoGaku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].Shimei)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].KanendoSum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].ChosaGaku)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rec[0].Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rec) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeiriNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RosenNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TateNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiTateNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Youto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Men)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Koho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JigyoGaku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shimei)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KanendoSum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChosaGaku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
